$primary-color: #88CCF1;
$secondary-color: #C1DFF0;
$background-color: #F3F7FA;
$accent-color-1: #A5668B;
$accent-color-1-darker: rgb(145, 82, 119);
$accent-color-2: #6DA34D;
$accent-color-2-darker: rgb(95, 145, 65);
$accent-color-3: #19323C;